@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-brand: #00ff88;
  --color-bg-dark: #040d0a;
  --color-bg-panel: #0c1a15;
  --color-text-dim: #e0f2f1;
}

@layer base {
  body {
    @apply bg-bg-dark text-text-dim antialiased;
  }
}

.grid-pattern {
  background-image: radial-gradient(#00ff88 0.5px, transparent 0.5px);
  background-size: 24px 24px;
}
